{% extends 'base.html.twig' %}
{% block title %}Liste des Biens{% endblock %}
{% block body %}
    <!-- Page title !-->
    <div class="jumbotron jumbotron-fluid p-4">
        <div class="container">
            <h1 class="display-4">Voir tous les biens</h1>
        </div>
    </div>
{% endblock %}